<div class="onboarding-container"> 
  <div class="onboarding-card">

    <%# Title %>
    <div class="login-title">Welcome Back</div>

    <%# Account Selection (Buyer / Seller) %>
    <div class="account-selection">
      <%= link_to "Buyer", login_path(account_type: "buyer"), class: "account-btn #{params[:account_type].blank? || params[:account_type] == 'buyer' ? 'active' : ''}" %>
      <%= link_to "Seller", login_path(account_type: "seller"), class: "account-btn #{params[:account_type] == 'seller' ? 'active' : ''}" %>
    </div>

    <%# Login Form %>
    <%= form_with url: login_path, method: :post, class: "login-form" do %>  
      <%= hidden_field_tag :account_type, params[:account_type] || "buyer" %>


      <div class="form-group">
        <%= label_tag :email, "Email" %>
        <%= email_field_tag :email, params[:email], class: "input-field" %>
      </div>

      <div class="form-group">
        <%= label_tag :password, "Password" %>
        <%= password_field_tag :password, nil, class: "input-field" %>
      </div>

      <div class="forgot-password">
        <%= link_to "Forgot password?", "#", class: "temp" %>
      </div>

      <%= submit_tag "Log in", class: "login-btn" %>
    <% end %>

    <%# Divider with OR %>
    <div class="divider">
      <span>OR</span>
    </div>

    <%# Google Login Button %>
    <div class="google-login">
      <button class="google-btn temp">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo">
          Continue with Google
      </button>
    </div>


    <%# Sign-up Option %>
    <div class="signup-switch">
      Don't have an account? <%= link_to "Sign up", signup_path(account_type: params[:account_type] || "buyer") %>
    </div>


  </div>
</div>