<h1>Welcome to Seller's Interface!</h1>

<p>Manage your auction items below:</p>

<ul>
  <li><%= link_to "View All Auction Items", auction_items_path %></li>
  <li><%= link_to "Create New Auction Item", new_auction_item_path %></li>
</ul>

<h2>Your Auction Items</h2>
<% if seller? %>
  <% current_user.auction_items.each do |item| %>
    <div>
      <h3><%= link_to item.name, auction_item_path(item) %></h3>
      <p><%= item.description %></p>
      <p>Max Bid: $<%= item.max_bid %></p>
      <p>Closing Date: <%= item.closing_date.strftime('%Y-%m-%d') %></p>
      <%= image_tag(item.image, width: 200) if item.image.present? %>
      <br>
      <%= link_to "Edit", edit_auction_item_path(item) %> |
      <%= link_to "Delete", auction_item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>You are not a seller.</p>
<% end %>
