<div id="navbar" class="sticky top-0 z-50 bg-white shadow-md transition-all duration-300">
  <nav id="nav-container" class="flex flex-col justify-between px-6 pt-4 pb-2 transition-all duration-300">

    <%# Top Nav %>
    <div id="top-nav" class="flex flex-row justify-between items-center transition-all duration-300 text-md z-20">
      <div></div>
      <div class="flex flex-row items-center space-x-3">
        <div>
          <% if logged_in? %>
            <% if seller? %>
              <%= link_to "My Account", seller_setting_path, class: "hover:underline" %>
            <% elsif buyer? %>
              <%= link_to "My Account", buyer_setting_path, class: "hover:underline" %>
            <% end %>
          <% else %>
            <%= link_to "Login", login_path(account_type: "buyer"), class: "hover:underline" %>
          <% end %>
        </div>
      </div>
    </div>

    <%# Logo %>
    <div id="logo" class="flex justify-center items-center transition-all duration-300 -mt-4 z-10">
        <%= link_to root_path, class: "font-bold text-5xl transition-all duration-300" do %>
          ALLPAY
        <% end %>
    </div>



    <%# Nav Links %>
    <div class="mt-3 flex flex-row items-center justify-center mx-auto space-x-8 text-sm font-medium transition-all duration-300">
      <% unless logged_in? %>
        <%= link_to "Home", root_path,
          class: "px-3 py-2 rounded-md transition hover:bg-blue-200 hover:underline #{current_page?(root_path) ? 'bg-[#E5E5E5]' : ''}" %>
      <% end %> 

      <% if logged_in? %>
        <% if seller? %>
          <%= link_to "Dashboard", seller_dashboard_path,
            class: "px-3 py-2 rounded-md transition hover:bg-blue-200 hover:underline #{current_page?(seller_dashboard_path) ? 'bg-[#E5E5E5]' : ''}" %>
        <% elsif buyer? %>
          <%= link_to "Dashboard", buyer_dashboard_path,
            class: "px-3 py-2 rounded-md transition hover:bg-blue-200 hover:underline #{current_page?(buyer_dashboard_path) ? 'bg-[#E5E5E5]' : ''}" %>
        <% end %>
      <% end %>

      
      <%= link_to "Auction Block", auction_items_path,
        class: "px-3 py-2 rounded-md transition hover:bg-blue-200 hover:underline #{current_page?(auction_items_path) ? 'bg-[#E5E5E5]' : ''}" %>
    </div>
  </nav>
</div>
