<header>
    <div class="navbar">  
        <div class="logo">
            <%= link_to "All Pay Auction", root_path %>
        </div>


        <div class="links">
            <li><%= link_to "Auction Block", auction_items_path %></li>
            <%= link_to "Sell", "#", class: "temp" %>
            <%= link_to "About Us", "#", class: "temp" %>

        </div>


        <div class="user-links">
            <% if logged_in? %>
                <div class="profile-btn">
                    <div class="user-name">
                        <%= current_user.first_name %> <%= current_user.last_name %>
                    </div>
                    <i class="fa-solid fa-chevron-down"></i>
                    
                    <div class="profile-dropdown-menu">
                        <% if seller? %>
                            <%= link_to "Seller Dashboard", seller_dashboard_path %>
                        <% end %>


                        <%= link_to "Settings", "#", class: "temp" %>

                        <%= link_to "Logout", logout_path, method: :delete%>
                    </div>
                </div>
            <% else %>
                <%= link_to "Log in", login_path, class: "login-btn" %>
                <%= link_to "Sign up", signup_path(account_type: 'buyer'), class: "signup-btn" %>
            <% end %>
        </div>
    </div>  



    <script>
        const profileBtn = document.querySelector('.profile-btn');
        const profileBtnIcon = profileBtn.querySelector('i');
        const profileDropDownMenu = document.querySelector('.profile-dropdown-menu');

        profileBtn.onclick = function () {
            const isOpen = profileDropDownMenu.classList.toggle('open');
            profileBtn.classList.toggle('active', isOpen);
            profileBtnIcon.classList = isOpen ? "fa-solid fa-chevron-up" : "fa-solid fa-chevron-down";
        };

        // temp
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".temp").forEach(tempLink => {
                tempLink.addEventListener("click", function (event) {
                    event.preventDefault();
                    alert("Feature: To be implemented");
                });
            });
        }); 
    </script>
</header>