<%= link_to auction_item_path(@auction_item), class: "back-link" do %>
  <i class="fa-solid fa-chevron-left"></i> Back
<% end %>

<%= form_with(model: @auction_item, local: true, html: { multipart: true }, class: "auction-form") do |form| %>
  <div class="auction-container">
    <div class="create-auction-title-container">
      <div class="create-auction-title"><i class="fa-solid fa-gavel"></i> Edit Auction Item</div>
    </div>

    <div class="auction-form-container">
      <!-- Left Side: General Information -->
      <div class="auction-left">
        <div class="auction-left-general"> 
          <p>General Information</p>
          <div class="input-group">
            <p>Product Name</p>
            <%= form.text_field :name, required: true, class: "input-field" %>
          </div>

          <div class="input-group">
            <p class="input-group-product">Product Description</p>
            <%= form.text_area :description, required: true, class: "input-field textarea" %>
          </div>
        </div>

        <div class="auction-left-general">
          <p>Bid Details</p>
          <div class="bid-details-grid">
            <div class="input-group">
              <p>Starting Bid</p>
              <%= form.number_field :curr_max_bid, step: 0.01, required: true, class: "input-field" %>
            </div>

            <div class="input-group">
              <p>Minimum Increment</p>
              <%= form.number_field :min_increment, step: 0.01, required: true, class: "input-field" %>
            </div>

            <div class="input-group">
              <p>Product Estimated Value</p>
              <%= form.number_field :innate_value, step: 0.01, required: true, class: "input-field" %>
            </div>
            
            <div> </div>

            <div class="input-group">
              <p>Open Date</p>
              <%= form.datetime_local_field :opening_date, required: true, class: "input-field" %>
            </div>

            <div class="input-group">
              <p>Close Date</p>
              <%= form.datetime_local_field :closing_date, required: true, class: "input-field" %>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Side: Image Upload -->
      <div class="auction-right">
        <p>Product Images</p>

        <div class="product-image-container">
          <% if @auction_item.images.attached? %>
            <% @auction_item.images.each do |image| %>
              <div class="thumbnail">
                <%= image_tag image, class: "product-image" %>
                <%= link_to "Remove", remove_image_auction_item_path(@auction_item, image.blob.id), method: :delete, class: "remove-btn" %>
              </div>
            <% end %>
          <% else %>
            <p>No images uploaded</p>
          <% end %>
        </div>

        <%= form.file_field :images, multiple: true, direct_upload: true, class: "input-field" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit "Update Auction Item", class: "primary-btn" %>
  </div>

<% end %>
