<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- FontAwesome (Move before Rails CSS) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Rails Application Styles -->

    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <script>
      tailwind.config = {
        theme: {
          extend: {}
        }
      }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>


    <% unless Rails.env.test? %>
    <%= stylesheet_link_tag "application" %>
    <!--buyer/seller settings-->
    <%= stylesheet_link_tag "buyer_settings" %>
    <%= stylesheet_link_tag "seller_settings" %>
    <% end %>


    <%= javascript_importmap_tags %>

  </head>

  <body class="<%= "#{controller_name}-#{action_name}" %>">
    <%= render "shared/navbar" %> 

    <% if flash[:notice] || flash[:alert] %>
      <div class="flash-container">
        <% if flash[:notice] %>
          <div class="flash-message flash-success">
            <span><%= flash[:notice] %></span>
            <button class="close-flash" onclick="this.parentElement.style.display='none'">✖</button>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="flash-message flash-danger">
            <span><%= flash[:alert] %></span>
            <button class="close-flash" onclick="this.parentElement.style.display='none'">✖</button>
          </div>
        <% end %>
      </div>
    <% end %>


    <%= yield %>
 </body>


  <script>
    // temp
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".temp").forEach(tempLink => {
            tempLink.addEventListener("click", function (event) {
                event.preventDefault();
                alert("Feature: To be implemented");
            });
        });
    }); 
  </script>
</html>
